body {
  margin: 0px;
  background-color: #212121;
}



.menuWrapper {
  height: auto;
  width: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.menuWrapperOm {
  height: auto;
  width: 350px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.mobileImg {
  display: none;
  height: 60px;
  position: absolute;
  margin: 10px;

}

.menuWrapperMini {
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  top: 150px;
  left: 10px;
}

.atag {
  text-decoration: none !important;
}

i {
  color: white;
}

#logo {
  height: 100px;
}

#omImg {
  height: 260px;
}

.omTxt {
  line-height: 1.6;
  padding: 5px;
}

.backgroundDiv {

  overflow: hidden !important;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  left: 0;

}

p {
  font-family: 'Press Start 2P', cursive;
}

.backgroundDiv img {
  top: 0;
  left: 0;
  height: 100%;
}

h2, h1 {
  padding: 3px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-weight: 700;
  transition: all 0.3s ease;
}

.menuSection {
  font-size: 8px;
}

.socialWrapper {
  padding: 3px;
}

#wrapperBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}

h2:hover {
  color: #212121;
  background-color: white;
}

.menuSection {
  color: white;
}

@media screen and (max-width: 480px) {
  .mobileImg {
    display: flex;

  }
  .menuWrapperMini {
    display: none;
  }
  .menuWrapperOm {
    width: 250px;
  }
  #omImg{
    height: 180px;
  }
}
